[Unit]

Description=Pacman mirrorlist update

Wants=network-online.target

After=network-online.target



[Service]

Type=oneshot

ExecStart=/usr/bin/reflector -c 'United States' -a 12 -p https --sort rate --save /etc/pacman.d/mirrorlist



[Install]

RequiredBy=multi-user.target
